# Python cache & virtualenv
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo
env/
venv/
*.egg-info/
*.egg
*.log

# OS & editor files
.DS_Store
.vscode/
.idea/

# LangChain-related
faiss_index/
chroma_db/
*.faiss
*.pkl

# Data & archive
data/
main_archive/
*.pdf
.deepeval
# Secrets & configs
.env
.env.*

# Logs
logs/
*.log

# Build/Dist
dist/
build/
document_portal.egg-info/

# Exceptions
!deepeval_evaluation/sample.pdf
